.App-logo {
    height: 35px;
    float: left;
    padding-left: 40px;
}

.App-header {
    background-color: #1D428A;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 50px;
}